a {
  color: #c56183;
  font-size: 1.2rem;
  margin:0 5px;
  text-decoration: none;
}

a:hover{
  color:#794c74;
}

body {
  background-color: #794c74;
  margin:0;
  text-align: center;
  font-family: fantasy, monospace;
  font-size: 2rem;
  /*font set in body, affects p element as well, everything besides h1, as body affects all unless otherwise specified*/
}


div {
  background-color: #794c74;
  padding:20px;
}


h1 {
  color: #b2deec;
  margin: 100px auto 0 auto;
  font-family: 'Lacquer', cursive;
  font-size: 4rem;
  line-height: 1;
  /*font family set for h1 spefically, link in html in head*/
}

h2 {
  color: #fadcaa;
  font-size: 2.0rem;
  font-weight: normal;
  text-align:center;

}

h3{
  font-size:1.2rem;
  text-align:center;
  margin:10px 50px 10px 50px;
}

hr{
  width:50%;
  margin:10px auto;

}


p{
  font-size:1rem;

}

ul{
  line-height: 1;
  display:inline-block;
  font-size:1rem;
}


.anna-professional-photo {
  width:50px;
  margin:0 auto 10px auto;
}

.bottom-cloud {
  position: absolute;
  width: 16%;
  left: 160px;
}

.bottom-container{
  margin:auto;
  font-size: 1.5rem;
  color:#c56183;
  background-color: #b2deec;
}
.contact-me{
  font-size:1.7rem;
  width:50%;
  margin:10px auto 10px auto;

}

.birthday-text{
  margin:50px auto;
}

.btn{
   background: #794c74;
   background-image: -webkit-linear-gradient(top, #c56183, #794c74);
   background-image: -moz-linear-gradient(top, #c56183, #794c74);
   background-image: -ms-linear-gradient(top, #c56183, #794c74);
   background-image: -o-linear-gradient(top, #c56183, #794c74);
   background-image: -webkit-gradient(to bottom, #c56183, #794c74);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #ffdada;
   font-family: fantasy, monospace;
   font-size: 1.4rem;
   padding: 5px;
   -webkit-box-shadow: 1px 1px 5px 0 #000000;
   -moz-box-shadow: 1px 1px 5px 0 #000000;
   box-shadow: 1px 1px 5px 0 #000000;
   text-shadow: 1px 1px 5px #000000;
   border: solid #794c74 1px;
   text-decoration: none;
   display: inline-block;
   width:20%;
   margin:50px auto 50px auto;
   cursor:pointer;

}

.btn:hover {
   border: solid #794c74 1px;
   background: #794c74;
   background-image: -webkit-linear-gradient(top, #794c74, #c56183);
   background-image: -moz-linear-gradient(top, #794c74, #c56183);
   background-image: -ms-linear-gradient(top, #794c74, #c56183);
   background-image: -o-linear-gradient(top, #794c74, #c56183);
   background-image: -webkit-gradient(to bottom, #794c74, #c56183);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration:none;
   display:inline-block;
   width:20%;
   margin:50px auto 50px auto;
}
.end-tag{
  width:100%;
  font-size:1rem;
}

.first-paragraph{
  width:100%;
  margin:100px auto;
}


/*.mountain-img{
  background-color: #794c74;
  position: relative;
  padding-top: 46px;
}
this is already declared in parent element - just pasted here to see if giving these properties to the class would affect
*/


.sawyer-anna-pic {
  width:300px;
  float:left;
  border:1px black solid;
  margin:auto 50px;
  object-fit: contain;

}

.sawyer-birthday {
  width:300px;
  float:right;
  border:1px black solid;
  margin:auto 50px;
  object-fit: contain;

}


.skill-row{
  width:60%;
  margin:10px auto;

}


.top-cloud {
  position: absolute;
  width: 10%;
  margin: 10px 100px auto 200px;
}

.top-container {
  background-color: #794c74;
  position: relative;
  padding-top: 46px;

}

